.btn-myprimary{
  background-color: #d32314;
  color:white;
}
/*      latest    */
.latest{
  height: 30px;
  background-color: #d32314;
  color:white;
  font-size: 13px;
}

.latest-titles{
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  border: #d32314 solid 1px;
  overflow: hidden;
}
#latestCarousel{
  height: 30px;
  top: 5px;
}
/*      post preview   */
.card-title{
  height: 53px;
  overflow: hidden;
}
/*      footer         */
.footer{
  font-size: 15px;
}